@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Agrandir Regular";
  src: url(../fonts/Agrandir-Regular.otf);
}  
    body{
        width: 100%;
        height:450px;
        background-image: url(../img/fundo.png);
        background-repeat: repeat;
        background-position: top;
        background-size: cover;
        background-color: #fff;
        margin:0;
    
    }

    #titulo {
        font-size: 70px;
        margin-left: 50px;
        color: #69503C;
      }
      
      p, ul {
        color: white;
        font-size: 30px;
      }
      

    .banner .container{
        justify-content: center;
        align-items: center;
        height:100%;
    }

    
.header .container {
    justify-content: space-between;
    align-items: center;
}


.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 30px;
    color: white;
    width: 300px;
}

    
    .banner .container p{
        font-size: 30px;
        color: white;
        width:300px;
    }
    
    .social{
        width: 100%;
    }

    .social h1{
        font-size: 40px;
    }

    .social .container .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;
      }
      
      .social .container {
        display: flex;
        justify-content: space-evenly;
        padding: 20px 15px;
      }

      ul {
        list-style: none;
      }
    
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 5px;
        margin: 30px;
        background-color: rgba(105, 80, 60, 0.9);
        border-radius: 20%;
        width: 30%;
      }
      
    
    .card h1 {
        color: white;
    }
    

    .footer {
        background-color: #69503C;
        padding: 30px;
        text-align: center;
        margin-top: 50px;
      }
      
      .footer p {
        color: white;
        font-size: 30px;
      }
      